.vscode
.vscode/
lab4/
CleanCodePythonWebScrapeAPI/
portfolio_venv/
portfolio_env/
portfolio-env
.DS_STORE
static/.DS_STORE
*.pyc
instance/
*.dat
.pytest_cache/
__pycache__/
.coverage
htmlcov/
node_modules
*.json
dist/
build/
*.egg-info/
instance/