# for running the development webserver
flask

# for profiling scripts required by backend code
memory-profiler
matplotlib
pyqt5

# for using .env and .flaskenv files
python-dotenv

# for converting complex datatypes to json
jsonpickle

# for auto reloading webpage when making front-end changes
livereload

# for running production server
waitress