{% extends "template.html" %}
{% block title %}Resume{% endblock %}
{% block head %}
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}">
{% endblock %}
{% block content %}
<div class="content">
    <section>
        <h1>Husayn Esmail</h1>
    </section>
    <section>
        <h2>Experience</h2>
        <div>
            <p>Job title, company name, city, state, start date - end date</p>
            <ul>
                <li>I implemented high quality user interface designs using CSS and Javascript</li>
                <li>I assisted with eliminating pain points in the user experience</li>
                <li>I helped configure Moodle developer and production environments</li>
            </ul>
        </div>
        <div>
            <p>Graphic Designer, Ismaili Council for Edmonton, January 2022-Present</p>
            <ul>
                <li>Designed enticing graphics for social media on a weekly basis</li>
                <li>Created coherent designs that respect design guidelines</li>
                <li>Built a brand through recognizable and distinct designs</li>
            </ul>
        </div>
    </section>
    <h2>Education</h2>
    <ul>
        <li>University of Alberta</li>
        <li>High School diploma</li>
        <li>first aid certification</li>
    </ul>
    <h2>Projects</h2>
    <p>project name</p>
    <ul>
        <li>project description</li>
        <li>technologies used</li>
        <li>what I learned</li>
    </ul>
    <h2>Skills</h2>
    <ul>
        <li>Technical: []</li>
        <li>Soft Skills: []</li>
        <li>Certifications : []</li>
    </ul>
</div>
{% endblock %}