{% extends "template.html" %}
{% block title %}Resume{% endblock %}
{% block head %}
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}">
{% endblock %}
{% block content %}
<div class="content">
    <h1>Husayn Esmail</h1>
    <h2>Experience</h2>
    <h3>Web Developer at Speechdojo (Non-profit) 2021 - Present</h3>
    <ul>
        <li>I implemented high quality user interface designs using CSS and Javascript</li>
        <li>I assisted with eliminating pain points in the user experience</li>
        <li>I helped configure Moodle developer and production environments</li>
    </ul>
    <h3>Graphic Designer, Ismaili Council for Edmonton, January 2022-Present</h3>
    <ul>
        <li>Designed enticing graphics for social media on a weekly basis</li>
        <li>Created coherent designs that respect design guidelines</li>
        <li>Built a brand through recognizable and distinct designs</li>
    </ul>
    <h2>Education</h2>
    <ul>
        <li>University of Alberta</li>
        <li>High School diploma</li>
        <li>first aid certification</li>
    </ul>
    <h3>Skills</h3>
    <li>change</li>
</div>
{% endblock %}