/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: green;
}

.nav-button {
    display: inline-block;
    font-size: 5rem;
    color: yellow;
}

.nav-button:hover {
    cursor: pointer;
}

.project-image {
    display: inline-flex;
    width: 100%;
    height: auto;
    flex-wrap:wrap;
}