/* Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: #13216D;
}
#primary {
    display: flex;
    width:100vw;
    background-color:#717171;
    justify-content: end;
    padding: 1rem 0;
}

#primary > ul {
    display: inline-flex;
    list-style: none;
    margin-right: 1rem;
}

#primary > ul > li {
    padding: 0 1rem;
}

#primary > ul > li > a {
    font-family: 'Quicksand';
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.hero-img {
    display: flex;
    width: 100vw;
}

.nav-button {
    display: inline-block;
    font-size: 5rem;
    color: yellow;
}

.nav-button:hover {
    cursor: pointer;
}

.project-image {
    display: inline-flex;
    width: 100%;
    height: auto;
    flex-wrap:wrap;
}