<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" src="../static/css/style.css">
    </head>
    <body>
        <header>
            <nav id="secondary">
                <ul>
                    <li>Python</li>
                    <li>HTML/CSS</li>
                    <li>C</li>
                    <li>Swift</li>
                </ul>
                
            </nav>
        </header>
        <p>this is a website</p>
        <!-- load in js -->
        <script src="../static/js/main.js"></script>
    </body>
    <footer>

    </footer>
</html>