<!-- extends the base template -->
{% extends "template.html" %}
{% block title %}Portfolio{% endblock %}
{% block content %}
<section>
    <nav id="secondary">
        <ul>
            <li><a href="">Python</a></li>
            <li><a href="">HTML/CSS</a></li>
            <li><a href="">C</a></li>
            <li><a href="">Swift</a></li>
        </ul>
    </nav>
</section>
<p>this is a website</p>
<section id="projects">
    <!-- load in projects -->
    <script src="../static/js/carousel.js"></script>
    <!-- all other sections must start after this -->
</section>
{% endblock %}