<!-- extends the base template -->
{% extends "template.html" %}
{% block title %}Portfolio{% endblock %}
{% block head %}
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}">
{% endblock %}
{% block content %}
<section id="Home">
    <h1 class="hero-head">Husayn Esmail</h1>
    <div class="img-container">
        <img class="hero-img" src="{{ url_for('static', filename='img/hero/IMG_6723.jpg') }}">
    </div>
</section>
<h2 class="subheading">Projects</h2>
<div class="block">
    <section id="secondary-section">
        <nav id="secondary">
            <ul>
                <li><a href="#web">Web</a></li>
                <li><a href="#python">Python</a></li>
                <li><a href="#c">C</a></li>
                <li><a href="#swift">Swift</a></li>
            </ul>
        </nav>
    </section>
    <section id="projects">
        <!-- load in projects -->
        <script type="text/javascript">
            var projects_from_server = {{ data|tojson }};
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/carousel.js') }}"></script>
        <!-- all other sections must start after this -->
    </section>
</div>
{% endblock %}