<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Default{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <nav id="primary">
                <ul>
                    <li><a href="{{ url_for('index', _anchor='#portfolio') }}">Home</a></li>
                    <li><a href="">Projects</a></li>
                    <li><a href="">Resume</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
        </header>
        <div class="content">
            <!-- rest of content of other pages will go below this navigation -->
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <footer class="footer">
        <div class="foot-content-container">
            <p>Copyright 2022</p>
            <p>Husayn Esmail</p>
        </div>
        <!-- footer content will go here -->
    </footer>
</html>