<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Husayn Esmail</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='assets/img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='assets/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{{ url_for('static', filename='assets/img/profile-img.jpg') }}" alt=""
          class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Husayn Esmail</a></h1>
        <div class="social-links mt-3 text-center">
          <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
          <!-- <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> -->
          <!-- <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a> -->
          <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
          <a href="https://www.linkedin.com/in/husayn-esmail/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/Husayn-Esmail" class="github"><i class="bx bxl-github"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
              <span>Portfolio</span></a></li>
          <!-- <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li> -->
          <!-- <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li> -->
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Husayn Esmail</h1>
      <p>I'm a <span class="typed"
          data-typed-items=" Designer, Developer, Freelancer, Photographer, Musician, Artist, Sound Technician, Videographer, Mess"></span>
      </p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p><b>A disclaimer:</b> I threw this together in 2-3 days, writing and all... It's definitely not written
            well, nor concisely. It's also probably not cohesive. However, in this case I figured done was better than
            perfect since I've been trying to launch for years now and never did because it wasn't perfect.</p>
          <p>My name is Husayn and I'm going to be entering my 5th year in a Bachelor of Arts program at the University
            of Alberta. My major is Art and Design, my minor is Computing Science and I'm hoping to add a certificate in
            Game Design by the time I graduate if I can secure the courses. I'm currently employed at the Government of
            Alberta as a summer student and I help support project management tools there. My interests are very broad,
            I love everything sound and visual related including videography, recording, and photography. I'm also a
            passionate (though untrained) musician. I also try to take care of myself and have been practicing yoga at
            least once a week for the last 20 weeks, hoping I don't break the streak! Naturally, I also enjoy working
            with and understanding computers, I have a passion for low level programming, operating systems, web,
            software, and building useful hardware. I really like to see how I can use computers to solve problems. I'm
            currently working on learning more general sciences outside of school and work, particularly, biology,
            physics, and math, to see how I can utilize my skills to solve problems in different contexts. Finally, one
            thing important to note about me is that I do not use social media, you can find my accounts for various
            platforms but you will see that they're inactive, or checked very infrequently (example, linkedin), the best
            way to reach me is always text message, phone call, or email.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{{ url_for('static', filename='assets/img/profile-img.jpg') }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Summer Student Initiatives Analyst, Government of Alberta</h3>
            <p class="fst-italic">

            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>1 May 1995</span></li> -->
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li> -->
                  <!-- <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+123 456 7890</span></li> -->
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Edmonton, Canada</span></li>
                </ul>
              </div>
              <!-- <div class="col-lg-6"> -->
              <!--   <ul> -->
              <!--     <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li> -->
              <!--     <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master</span></li> -->
              <!--     <li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong> <span>email@example.com</span></li> -->
              <!--     <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li> -->
              <!--   </ul> -->
              <!-- </div> -->
            </div>
            <p>
              I work under the Project Management Centre of Excellence (PMCOE), and it took me a solid 2 weeks to be
              able to remember that acronym. I was fortunate enough to be able to return for a second summer. Some of my
              accomplishments last summer include automating LMS transcript generation in excel using VBA and macros,
              assisting with plans for re-designing the PMCOE sharepoint sites for better usability and information
              access, and analyzing a repository of lessons learned to help determine effectiveness of the initiative.
              This year I've been brought back to assist with sharepoint migration.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <!-- <section id="facts" class="facts"> -->
    <!--   <div class="container"> -->

    <!--     <div class="section-title"> -->
    <!--       <h2>Facts</h2> -->
    <!--       <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
    <!--     </div> -->

    <!--     <div class="row no-gutters"> -->

    <!--       <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up"> -->
    <!--         <div class="count-box"> -->
    <!--           <i class="bi bi-emoji-smile"></i> -->
    <!--           <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span> -->
    <!--           <p><strong>Happy Clients</strong> consequuntur quae</p> -->
    <!--         </div> -->
    <!--       </div> -->

    <!--       <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100"> -->
    <!--         <div class="count-box"> -->
    <!--           <i class="bi bi-journal-richtext"></i> -->
    <!--           <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span> -->
    <!--           <p><strong>Projects</strong> adipisci atque cum quia aut</p> -->
    <!--         </div> -->
    <!--       </div> -->

    <!--       <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200"> -->
    <!--         <div class="count-box"> -->
    <!--           <i class="bi bi-headset"></i> -->
    <!--           <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span> -->
    <!--           <p><strong>Hours Of Support</strong> aut commodi quaerat</p> -->
    <!--         </div> -->
    <!--       </div> -->

    <!--       <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300"> -->
    <!--         <div class="count-box"> -->
    <!--           <i class="bi bi-people"></i> -->
    <!--           <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span> -->
    <!--           <p><strong>Hard Workers</strong> rerum asperiores dolor</p> -->
    <!--         </div> -->
    <!--       </div> -->

    <!--     </div> -->

    <!--   </div> -->
    <!-- </section>[> End Facts Section <] -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p><b>Honourable Mention:</b> The worst dad jokes you've ever heard, constantly.</p>
          <br>
          <div class="row align-items-start">
            <div class="col">
              <h3>Programming Languages</h3>
              <p> This is in order of proficiency </p>
              <ul>
                <li>Python</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>C</li>
                <li>SQL</li>
                <li>BASH</li>
                <li>Swift</li>
                <li>RISC V Assembly</li>
                <li>C#</li>
              </ul>
            </div>
            <div class="col">
              <h3>Frameworks</h3>
              <ul>
                <h5>Web</h5>
                <li>React</li>
                <li>Bootstrap</li>
                <li>ExpressJS</li>
                <li>NodeJS</li>
                <li>TailWind CSS</li>
                <li>SASS</li>
                <h5>Python</h5>
                <li>Django</li>
                <li>Flask</li>
              </ul>
            </div>
            <div class="col">
              <h3>Software Proficiency</h3>
              <ul>
                <li>Final Cut Pro</li>
                <li>Premiere Pro</li>
                <li>Apple Motion</li>
                <li>Adobe Audition</li>
                <li>Cubase</li>
                <li>Logic Pro X</li>
                <li>Mainstage</li>
                <li>Microsoft Word, Excel, PowerPoint, Visio</li>
                <li>Microsoft PowerApps</li>
                <li>Github</li>
                <li>Adobe Illustrator, Photoshop, InDesign, Lightroom</li>
                <li>Affinity Photo, Designer, Publisher</li>
                <li>Darktable</li>
                <li>RawTherapee</li>
                <li>Reason</li>
                <li>OBS</li>
                <li>TinkerCAD</li>
                <li>Visual Studio Code</li>
                <li>Virtualization Software (VMware, Docker, VirtualBox, QEMU)</li>
                <li>Serato DJ Pro</li>
                <li>VIM</li>
                <li>Xcode</li>
                <li>Notion, Obsidian</li>
              </ul>
            </div>
            <div class="col">
              <h3>Cloud Provider Experience</h3>
              <ul>
                <li>Google Cloud</li>
                <li>Oracle Cloud</li>
                <li>AWS</li>
                <li>Digital Ocean</li>
                <li>Tuya Cloud</li>
              </ul>
            </div>
            <div class="col">
              <h3>Databases</h3>
              <ul>
                <li>PostgreSQL</li>
                <li>MariaDB</li>
                <li>Sqlite3</li>
                <li>MySQL</li>
                <li>MongoDB</li>
              </ul>
            </div>
            <div>
              <h3>Other<h3>
                  <ul>
                    <li>Communication</li>
                    <li>DJ</li>
                    <li>Recording</li>
                    <li>Live Sound</li>
                    <li>Photography</li>
                    <li>Videography</li>
                    <li>Sewing</li>
                    <li>Graphic and Information Design</li>
                    <li>Drawing</li>
                    <li>Organization</li>
                    <li>Time Management</li>
                    <li>Growth Mindset</li>
                    <li>Troubleshooting</li>
                    <li>Research</li>
                    <li>Video Editing</li>
                    <li>Audio Editing</li>
                    <li>Photo Editing</li>
                    <li>Calligraphy</li>
                    <li>Soldering</li>
                    <li>3D Modelling</li>
                    <li>Wood working</li>
                    <li>Aeropress Coffee Brewing</li>
                    <li>Survival/Outdoors</li>
                    <li>Packing too many things into small spaces</li>
                  </ul>
            </div>
          </div>
          <p>I enjoy doing a lot of things so the software I end up using is quite diverse a lot of the time. I keep a
            virtual machine for linux and windows on my computer at all times to ensure I can work in whatever software
            is required for the task at hand -- I LOVE virtual machines. I've tried to include the most important ones
            above and there's a good chance I've missed stuff..</p>
        </div>

        <div class="row skills-content">

          <!-- <div class="col-lg-6" data-aos="fade-up"> -->

          <!--   <div class="progress"> -->
          <!--     <span class="skill">HTML <i class="val">100%</i></span> -->
          <!--     <div class="progress-bar-wrap"> -->
          <!--       <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div> -->
          <!--     </div> -->
          <!--   </div> -->

          <!--   <div class="progress"> -->
          <!--     <span class="skill">CSS <i class="val">90%</i></span> -->
          <!--     <div class="progress-bar-wrap"> -->
          <!--       <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div> -->
          <!--     </div> -->
          <!--   </div> -->

          <!--   <div class="progress"> -->
          <!--     <span class="skill">JavaScript <i class="val">75%</i></span> -->
          <!--     <div class="progress-bar-wrap"> -->
          <!--       <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div> -->
          <!--     </div> -->
          <!--   </div> -->

          <!-- </div> -->

          <!-- <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100"> -->

          <!--   <div class="progress"> -->
          <!--     <span class="skill">PHP <i class="val">80%</i></span> -->
          <!--     <div class="progress-bar-wrap"> -->
          <!--       <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div> -->
          <!--     </div> -->
          <!--   </div> -->

          <!--   <div class="progress"> -->
          <!--     <span class="skill">WordPress/CMS <i class="val">90%</i></span> -->
          <!--     <div class="progress-bar-wrap"> -->
          <!--       <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div> -->
          <!--     </div> -->
          <!-- </div> -->

          <!--   <div class="progress"> -->
          <!--     <span class="skill">Photoshop <i class="val">55%</i></span> -->
          <!--     <div class="progress-bar-wrap"> -->
          <!--       <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div> -->
          <!--     </div> -->
          <!--   </div> -->

          <!-- </div> -->

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Similar to the rest of this website, the content here is not exhaustive and is just meant to give a general
            idea of my experience and who I am. There's much ommitted and it's still probably not enough.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Husayn Esmail</h4>
              <p><em>I don't have much professional experience, but I've volunteered a lot. I've taken a lot of courses
                  to set me up to be a creative problem solver and deepen my understanding of issues in the art, design,
                  and computing world. I'm confident that my experience will set me up for success in a world that is
                  nothing if not DESIGNED.</em></p>
              <!-- <ul> -->
              <!--   <li>Portland par 127,Orlando, FL</li> -->
              <!--   <li>(123) 456-7891</li> -->
              <!-- <li>alice.barkley@example.com</li> -->
              <!-- </ul> -->
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Arts</h4>
              <h5>September 2020 - December 2024</h5>
              <p><em>University of Alberta, Edmonton, Canada</em></p>
              <h5>Courses Taken To Date:<h5>
                  <ul>
                    <li>Introductory Sociology (SOC 100)</li>
                    <li>Introduction to Critical Analysis (ENGL 102)</li>
                    <li>Introduction to Foundations of Computing Science I (CMPUT 174)</li>
                    <li>Art Fundamentals (ART 134)</li>
                    <li>Beginners' Arabic I (ARAB 111)</li>
                    <li>Writing Persuasive Arguments (WRS 104)</li>
                    <li>Introduction to History of Art, Design, Visual Culture (HADVC 100)</li>
                    <li>Design Fundamentals (DES 135)</li>
                    <li>Introduction to Foundations of Computing Science II (CMPUT 175)</li>
                    <li>Beginner's Arabic II (ARAB 112)</li>
                    <li>History of Photography (HADVC 210)</li>
                    <li>Calculus Physical Sciences I (MATH 144)</li>
                    <li>History of Modern Design (HADVC 209)</li>
                    <li>Foundations of Visual Communication Design I (DES 393)</li>
                    <li>Practical Programming Methodology (CMPUT 201)</li>
                    <li>Introduction to Applied Statistics I (STAT 151)</li>
                    <li>Linear Algebra I (MATH 125)</li>
                    <li>Foundations of Visual Communication Design II (DES 394)</li>
                    <li>Formal Systems and Logic (CMPUT 272)</li>
                    <li>Computer Organization and Architecture I (CMPUT 229)</li>
                    <li>Drawing I (ART 240)</li>
                    <li>Algebra: Introduction to Ring Theory (MATH 228)</li>
                    <li>Drawing II (ART 340)</li>
                    <li>Introduction to Applied Statistics II (STAT 252)</li>
                    <li>History of Art, Design and Visual Culture in the Early 20th Century (HADVC 206)</li>
                    <li>Introduction to Microeconomics (ECON 101)</li>
                    <li>Concepts and Systems in Visual Communication Design I (DES 493)</li>
                    <li>Algorithms I (CMPUT 204)</li>
                    <li>History of Art, Design, and Visual Culture in the Renaissance (HADVC 202)</li>
                    <li>Intermediate Microeconomic Theory I (ECON 281)</li>
                    <li>Concepts and Systems in Visual Communication Design II (DES 494)</li>
                    <li>Operating System Concepts (CMPUT 379)</li>
                    <li>Computer Networks (CMPUT 313)</li>
                    <li>Introduction to Music Technologies (MUSIC 245)</li>
                    <li>Geometry (MATH 245)</li>
                    <li>Introduction to Textiles (HECOL 170)</li>
                    <li>Particles and Waves (PHYS 125)</li>
                    <li>The Scientific Process (SCI 201)</li>
                  </ul>
            </div>
            <div class="resume-item">
              <h4>High School Diploma</h4>
              <h5>2017 - 2020</h5>
              <p><em>M.E. LaZerte Composite High School, Edmonton, Canada</em></p>
              <p>Hooray! I graduated High School during COVID!</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Experience</h3>
            <div class="resume-item">
              <h4>Summer Student Data/Initiatives Analyst</h4>
              <h5>Summer 2023/2024</h5>
              <p><em>Government of Alberta Infrastructure, Edmonton, Alberta</em></p>
              <ul>
                <li>Leveraged excel macros and VBA to automate course transcript generation</li>
                <li>Analyzed a lessons learned repository to extract meaningful data from it.</li>
                <li>Analyzed and ideated designs for upcoming sharepoint site migration</li>
                <li>Investigated new Learning Management System to determine current state viability</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Full-Stack Web Developer</h4>
              <h5>2021 - 2023</h5>
              <p><em>SpeechDojo, Edmonton, Alberta</em></p>
              <ul>
                <li>Setup and configured modern LMS's such as Moodle and OpenEdx from scratch for internal testing</li>
                <li>Implement front end of course overview page</li>
                <li>Contributed to improving user experience through analysis of UI/UX</li>
                <li>Debugged team development environments</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Video Editor</h4>
              <h5>2020 - 2021</h5>
              <p><em>SpeechDojo, Edmonton, Alberta</em></p>
              <ul>
                <li>Edited half of all course content filmed at the time</li>
                <li>Colour graded and optimized editing work flow for other team members</li>
                <li>Created exciting animations and titles</li>
                <li>Followed scripted content and direction of media lead</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Co-President</h4>
              <h5>2022 - 2023</h5>
              <p><em>Ismaili Students Association, Edmonton, Alberta</em></p>
              <ul>
                <li>Organized and planned meaningful events to build community</li>
                <li>Increased attendance from 15% to 50% of total student body</li>
                <li>Inspire my team, communicate effectively, work cooperatively with my co-president</li>
                <li>Built strong external networks to support and finance future events</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Vice President</h4>
              <h5>2023 - 2024</h5>
              <p><em>Ismaili Students Association, Edmonton, Alberta</em></p>
              <ul>
                <li>Managed and supported the team's technical tools and finances</li>
                <li>Assist presidents with navigating the year and managing the teams</li>
                <li>Planned and organized meetings, and took effective meeting notes</li>
                <li>Responsible for all audio visual requirements and consulting</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Freelance Audio Visual Services</h4>
              <h5>2020 - Present</h5>
              <p><em>Edmonton, Alberta</em></p>
              <ul>
                <li>Communicate with clients and negotiate rates</li>
                <li>Provided services for sound engineering, photography, videography, video editing, photo editing, and
                  DJ</li>
                <li>Managed an inventory of gear and rented out gear</li>
                <li>Guaranteed high quality results for a good price</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='img/photography/landscapes/IMG_5581.jpg') }}" class="img-fluid"
                alt="">
              <div class="portfolio-links">
                <a href="{{ url_for('static', filename='img/photography/landscapes/IMG_5581.jpg') }}"
                  data-gallery="portfolioGallery" class="portfolio-lightbox" title="Photography"><i
                    class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-2.jpg') }}" class="img-fluid"
                alt="">
              <div class="portfolio-links">
                <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-2.jpg') }}"
                  data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i
                    class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-3.jpg') }}" class="img-fluid"
                alt="">
              <div class="portfolio-links">
                <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-3.jpg') }}"
                  data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i
                    class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-4.jpg') }}" class="img-fluid"
                alt="">
              <div class="portfolio-links">
                <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-4.jpg') }}"
                  data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i
                    class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-5.jpg') }}" class="img-fluid"
                alt="">
              <div class="portfolio-links">
                <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-5.jpg') }}"
                  data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i
                    class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-6.jpg') }}" class="img-fluid"
                alt="">
              <div class="portfolio-links">
                <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-6.jpg') }}"
                  data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i
                    class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-7.jpg') }}" class="img-fluid"
                alt="">
              <div class="portfolio-links">
                <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-7.jpg') }}"
                  data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i
                    class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-8.jpg') }}" class="img-fluid"
                alt="">
              <div class="portfolio-links">
                <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-8.jpg') }}"
                  data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i
                    class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-9.jpg') }}" class="img-fluid"
                alt="">
              <div class="portfolio-links">
                <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-9.jpg') }}"
                  data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i
                    class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <!-- <section id="services" class="services"> -->
    <!--   <div class="container"> -->

    <!--     <div class="section-title"> -->
    <!--       <h2>Services</h2> -->
    <!--       <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
    <!--     </div> -->

    <!--     <div class="row"> -->
    <!--       <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up"> -->
    <!--         <div class="icon"><i class="bi bi-briefcase"></i></div> -->
    <!--         <h4 class="title"><a href="">Lorem Ipsum</a></h4> -->
    <!--         <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> -->
    <!--       </div> -->
    <!--       <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100"> -->
    <!--         <div class="icon"><i class="bi bi-card-checklist"></i></div> -->
    <!--         <h4 class="title"><a href="">Dolor Sitema</a></h4> -->
    <!--         <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p> -->
    <!--       </div> -->
    <!--       <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200"> -->
    <!--         <div class="icon"><i class="bi bi-bar-chart"></i></div> -->
    <!--         <h4 class="title"><a href="">Sed ut perspiciatis</a></h4> -->
    <!--         <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p> -->
    <!--       </div> -->
    <!--       <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300"> -->
    <!--         <div class="icon"><i class="bi bi-binoculars"></i></div> -->
    <!--         <h4 class="title"><a href="">Magni Dolores</a></h4> -->
    <!--         <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p> -->
    <!--       </div> -->
    <!--       <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400"> -->
    <!--         <div class="icon"><i class="bi bi-brightness-high"></i></div> -->
    <!--         <h4 class="title"><a href="">Nemo Enim</a></h4> -->
    <!--         <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p> -->
    <!--       </div> -->
    <!--       <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500"> -->
    <!--         <div class="icon"><i class="bi bi-calendar4-week"></i></div> -->
    <!--         <h4 class="title"><a href="">Eiusmod Tempor</a></h4> -->
    <!--         <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p> -->
    <!--       </div> -->
    <!--     </div> -->

    <!--   </div> -->
    <!-- </section>[> End Services Section <] -->

    <!-- [> ======= Testimonials Section ======= <] -->
    <!-- <section id="testimonials" class="testimonials section-bg"> -->
    <!--   <div class="container"> -->

    <!--     <div class="section-title"> -->
    <!--       <h2>Testimonials</h2> -->
    <!--       <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
    <!--     </div> -->

    <!--     <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100"> -->
    <!--       <div class="swiper-wrapper"> -->

    <!--         <div class="swiper-slide"> -->
    <!--           <div class="testimonial-item" data-aos="fade-up"> -->
    <!--             <p> -->
    <!--               <i class="bx bxs-quote-alt-left quote-icon-left"></i> -->
    <!--               Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. -->
    <!--               <i class="bx bxs-quote-alt-right quote-icon-right"></i> -->
    <!--             </p> -->
    <!--             <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-1.jpg') }}" class="testimonial-img" alt=""> -->
    <!--             <h3>Saul Goodman</h3> -->
    <!--             <h4>Ceo &amp; Founder</h4> -->
    <!--           </div> -->
    <!--         </div>[> End testimonial item <] -->

    <!--         <div class="swiper-slide"> -->
    <!--           <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100"> -->
    <!--             <p> -->
    <!--               <i class="bx bxs-quote-alt-left quote-icon-left"></i> -->
    <!--               Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa. -->
    <!--               <i class="bx bxs-quote-alt-right quote-icon-right"></i> -->
    <!--             </p> -->
    <!--             <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-2.jpg') }}" class="testimonial-img" alt=""> -->
    <!--             <h3>Sara Wilsson</h3> -->
    <!--             <h4>Designer</h4> -->
    <!--           </div> -->
    <!-- </div>[> End testimonial item <] -->

    <!--         <div class="swiper-slide"> -->
    <!--           <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200"> -->
    <!--             <p> -->
    <!--               <i class="bx bxs-quote-alt-left quote-icon-left"></i> -->
    <!--               Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim. -->
    <!--               <i class="bx bxs-quote-alt-right quote-icon-right"></i> -->
    <!--             </p> -->
    <!--             <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-3.jpg') }}" class="testimonial-img" alt=""> -->
    <!--             <h3>Jena Karlis</h3> -->
    <!--             <h4>Store Owner</h4> -->
    <!--           </div> -->
    <!--         </div>[> End testimonial item <] -->

    <!--         <div class="swiper-slide"> -->
    <!--           <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300"> -->
    <!--             <p> -->
    <!--               <i class="bx bxs-quote-alt-left quote-icon-left"></i> -->
    <!--               Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam. -->
    <!--               <i class="bx bxs-quote-alt-right quote-icon-right"></i> -->
    <!--             </p> -->
    <!--             <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-4.jpg') }}" class="testimonial-img" alt=""> -->
    <!--             <h3>Matt Brandon</h3> -->
    <!--             <h4>Freelancer</h4> -->
    <!--           </div> -->
    <!--         </div>[> End testimonial item <] -->

    <!--         <div class="swiper-slide"> -->
    <!--           <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400"> -->
    <!--             <p> -->
    <!--               <i class="bx bxs-quote-alt-left quote-icon-left"></i> -->
    <!--               Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid. -->
    <!--               <i class="bx bxs-quote-alt-right quote-icon-right"></i> -->
    <!--             </p> -->
    <!--             <img src="{{ url_for('static', filename='assets/img/testimonials/testimonials-5.jpg') }}" class="testimonial-img" alt=""> -->
    <!--             <h3>John Larson</h3> -->
    <!--             <h4>Entrepreneur</h4> -->
    <!--           </div> -->
    <!--         </div>[> End testimonial item <] -->

    <!--       </div> -->
    <!--       <div class="swiper-pagination"></div> -->
    <!--     </div> -->

    <!--   </div> -->
    <!-- </section>[> End Testimonials Section <] -->

    <!-- [> ======= Contact Section ======= <] -->
    <!-- <section id="contact" class="contact"> -->
    <!--   <div class="container"> -->

    <!-- <div class="section-title"> -->
    <!--   <h2>Contact</h2> -->
    <!--   <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
    <!-- </div> -->

    <!-- <div class="row" data-aos="fade-in"> -->

    <!--   <div class="col-lg-5 d-flex align-items-stretch"> -->
    <!--     <div class="info"> -->
    <!--       <div class="address"> -->
    <!--         <i class="bi bi-geo-alt"></i> -->
    <!--         <h4>Location:</h4> -->
    <!--         <p>A108 Adam Street, New York, NY 535022</p> -->
    <!-- </div> -->

    <!-- <div class="email"> -->
    <!--   <i class="bi bi-envelope"></i> -->
    <!--   <h4>Email:</h4> -->
    <!--   <p>info@example.com</p> -->
    <!-- </div> -->

    <!-- <div class="phone"> -->
    <!--   <i class="bi bi-phone"></i> -->
    <!--   <h4>Call:</h4> -->
    <!--   <p>+1 5589 55488 55s</p> -->
    <!-- </div> -->

    <!--     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe> -->
    <!--   </div> -->

    <!-- </div> -->

    <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch"> -->
    <!--   <form action="forms/contact.php" method="post" role="form" class="php-email-form"> -->
    <!--     <div class="row"> -->
    <!--       <div class="form-group col-md-6"> -->
    <!--         <label for="name">Your Name</label> -->
    <!--     <input type="text" name="name" class="form-control" id="name" required> -->
    <!--   </div> -->
    <!--   <div class="form-group col-md-6"> -->
    <!--     <label for="name">Your Email</label> -->
    <!--     <input type="email" class="form-control" name="email" id="email" required> -->
    <!--   </div> -->
    <!-- </div> -->
    <!-- <div class="form-group"> -->
    <!--   <label for="name">Subject</label> -->
    <!--   <input type="text" class="form-control" name="subject" id="subject" required> -->
    <!--           </div> -->
    <!--           <div class="form-group"> -->
    <!--             <label for="name">Message</label> -->
    <!--             <textarea class="form-control" name="message" rows="10" required></textarea> -->
    <!--           </div> -->
    <!--           <div class="my-3"> -->
    <!--             <div class="loading">Loading</div> -->
    <!--             <div class="error-message"></div> -->
    <!--             <div class="sent-message">Your message has been sent. Thank you!</div> -->
    <!--           </div> -->
    <!--           <div class="text-center"><button type="submit">Send Message</button></div> -->
    <!--         </form> -->
    <!--       </div> -->

    <!--     </div> -->

    <!--   </div> -->
    <!-- </section>[> End Contact Section <] -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        Date Modified: May 31, 2024 <br>
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/typed.js/typed.umd.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>

</html>